<% provide(:title, @user.nom) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <table class="profile" >
        <caption>Informations du profil</caption>
        <tr>
          <td class="main">
            <h1>
              <%= gravatar_for @user %>
              <%= @user.nom %>
            </h1>
          </td>
          <td class="sidebar round">
            <strong>Nom</strong> <%= @user.nom %><br />
            <strong>URL</strong>  <%= link_to user_path(@user), @user %>
          </td>
        </tr>
      </table>

    </section>
  </aside>
</div>
