
    <h1>Contact</h1>
    <p>
      Contact Ruby on Rails Tutorial à propos de l'Application Exemple à
      <a href="http://railstutorial.org/feedback">Page de contact</a>.
    </p>
    <p>
      <a href="mailto:flodavid@univ-angers.fr?Subject=Ruby%20Project">Mon adresse e-mail</a>.
    </p>
