
    <h1>Contact</h1>
    <p>
      Contact Ruby on Rails Tutorial à propos de l'Application Exemple à
      <a href="mailto:admin@railstutorial.org?subject=Tutoriel Ruby">e-mail de Michael Hartl</a>.
    </p>
    <p>
      <a href="mailto:flodavid@univ-angers.fr?subject=Ruby Project">Mon adresse e-mail</a>.
    </p>
